body {
  background-color: #eee;
  display: flex;
  justify-content: center;
}



.clicked {
  text-decoration: none;
}

.unclicked {
  text-decoration: underline;
}

.imagetest {
  background: url('../../assets/cyberman.jpg');
}

.articles-container {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.articles-container img {
  width:300px;
  height: 300px;
  object-fit: cover;
}

@media all and (max-width: 480px) {
  .articles-container {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .articles-container img {
    width: 380px;
    height: 600px;
    padding-bottom: 10px;
  }

}
