body {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.clicked {
  text-decoration: none;
}

.unclicked {
  text-decoration: underline;
}

.articles-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.article {
  display: flex;
  flex-direction: column;
  width:330px;
  height: 330px;
  overflow: hidden;
  cursor: pointer;
}

.image-container {
  width: 330px;
  height:330px;
}

img[class^="article-image"] {
  width:330px;
  height: 330px;
  object-fit: cover;
}

.overlay {
  width: 330px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.6);

  color: white;
  box-sizing: border-box;
  padding-top: 14px;
  text-shadow: 1px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline, .summary {
  padding-left: 20px;
  padding-right: 20px;
}

.headline {
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Prata', serif;
}
.summary {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}
 .rating-container {
   height: 14px;
 }
.rating {
  position: relative;
  width: 73px;
  height: 14px;
  overflow: hidden;
  margin-bottom: 10px;
}

.stars-yellow {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  color: gold;
  font-size: 13px;
}

.stars-empty {
  position: absolute;
  display: flex;
  flex-direction: row;
  color: #888;
  z-index: 0;
  font-size: 13px;
}

.overlay-footer {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  height: 24px;
  align-items: center;
  margin-bottom: 10px;
}

.views {
  width: auto;
  font-size: 12px;
  font-family: Verdana, Helvetica, sans-serif;
  text-shadow: none;
  height: auto;
}

 .read-button {
   box-sizing: border-box;
   width: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 24px;
   border: 1px solid white;
   font-size: 12px;
   font-family: Verdana, Helvetica, sans-serif;
   text-shadow: none;
   border-radius: 5px;
   background-color: #222;
   text-decoration: none;
   color: white;
 }

 .read-button:hover {
   background-color: #777;
 }



@media all and (max-width: 480px) {

  .articles-container {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .article {
    width: 380px;
    height: 600px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .image-container {
    width: 380px;
    height: 600px;
  }

  img[class^="article-image"] {
    width: 380px;
    height: 600px;
  }

  .overlay {
    width: 380px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    color: white;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    text-shadow: 1px 1px black;
  }

  .summary {
    margin-top: 14px;
    font-size: 20px;
    line-height: 1.4;
  }
}
